/* @import url(./globals.css); */

.container {
  padding: 0 0;
}

.main {
  height: 95vh;
  padding-top: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  overflow: scroll;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: clamp(5vw, 45px, 8vw);
  background: -webkit-linear-gradient(right, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.form {
  width: clamp(55vw, 400px, 85vw);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.input {
  width: 75%;
  height: 100%;
  color: var(--primary);
  background-color: var(--light);
  font-size: clamp(1.5vh, 2rem, 1.5vw);
  font-weight: bolder;
  border-radius: 0.5rem;
}

.input::placeholder {
  color: #6c757d;
}

.button {
  width: fit-content;
  height: fit-content;
  /* min-height: 3rem; */
  background-color: #007a5c;
  color: var(--light);
  font-size: clamp(1.5vh, 3rem, 1.5vw);
  font-weight: bolder;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media (min-width: 2200px) {
  .button {
    height: 6rem;
  }
}

.button:active {
  color: var(--primary);
  background-color: var(--light);
}
.button:disabled {
  background-color: var(--radiance);
  color: var(--light);
  cursor: not-allowed;
}

.imgBox {
  width: clamp(55vw, 400px, 85vw);
  height: auto;
  border: 0.2rem solid var(--radiance);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem; /* Space between the buttons */
}

.save,
.copyContainer {
  font-size: larger;
  border: 0.1rem solid var(--primary);
  padding: 0.2rem;
  border-radius: 0.5rem;
  position: relative;
}

.save:hover,
.copyContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.followButtonContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.save a {
  display: inline-block; /* To allow padding to be applied */
  padding: 0.25rem; /* Adjust as needed for spacing */
  text-decoration: none; /* Optional: To remove any underlines */
  color: inherit; /* To inherit the color from the parent */
}
.copyBtn {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: clamp(1.5vh, 3rem, 1.5vw);
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.25rem; /* Add padding to make the button look spacious */
}

.copyBtn:hover {
  color: var(
    --secondary
  ); /* Assuming you want a different color on hover, adjust as needed */
}

.copyBtn:active {
  color: var(--radiance); /* Adjust as needed */
}

.copyBtn:focus {
  outline: none; /* Removes the default browser outline on focus */
}
.copyStatus {
  position: absolute;
  top: -1.5rem; /* Adjust this value to position the copied text above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  z-index: 1; /* To ensure it appears above other elements */
}

.tweetBtn,
.starBtn {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: clamp(1.5vh, 3rem, 1.5vw);
  font-weight: bolder;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.25rem;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.tweetBtn:hover,
.starBtn:hover {
  color: var(--secondary);
}

.tweetContainer,
.starContainer {
  font-size: larger;
  border: 0.1rem solid var(--primary);
  padding: 0.2rem;
  border-radius: 0.5rem;
  position: relative;
}

.tweetContainer:hover,
.starContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}
